.header {
    background-image: url('../../images/ABCbackground.jpg');
    background-size: cover;
    background-position: 50%;
    width: 100%;
    text-align: center;
    padding: 100px 0px;
    color: seashell;
}

.header-text {
    width: 70%;
    margin: 0 auto;
    background-color: rgb(53, 38, 38);
    box-shadow: 0 4px 2px -2px black;
    padding: 5px 0;
}

h1 {
    font-size: 80px;
}