
.click-image {
  background-size: cover;
  background-position: 50%;
  background: #fff;
  border: 5px solid hsl(0, 53%, 46%);
  border-radius: 2px;
  height: 200px;
  margin: 1rem;
  width: 200px;
  box-shadow: 0 3px 6px #999, 0 3px 6px #444444;
  cursor: grab;
  overflow: hidden;
}

.click-image:hover {
  transform: scale(1.1, 1.1)
}