.navbar {

    color: seashell;
    background-color: rgb(184, 22, 22);
    box-shadow: 0 4px 2px -2px grey;

}

li {
    color: whitesmoke;
    display: inline-block;
    text-align: center;
    padding-left: 11vw;
    padding-right: 5vw;
    padding-top: 15px;
    font-size: 22px;
}